
////////////////////// color 
// size
$base-font-size: 14px;


// light mode 
$white  : #FFFFFF;
$black  : #000000;

$primary-color : #3a60ab;
$primary-hover-color: #325396;
$border-color  : #dee2e6;

$danger-color   : #dc3545;

$bgColor      : #f2f2f2;
$textColor    : #333333;
$textMuted    : #777777 ;

$input-background: #f7f7f7;
$placeholder-color: #999999;
$input-border-color: #f0f0f0;
$checkbox-unchecked-color: $white;
$checkbox-checked-color: #6A0DAD;

// navbar
$main-navbar-color: #FFFFFF;

$gray-color-1:  #f4f4f4;
$gray-color-2: #bfbfbf;



// dark mode
$white-dark  : #000000;
$black-dark  : #ffffff;

$primary-color-dark : #3871b6;
$primary-hover-color-dark : #2f62a2;
$border-color-dark  : #535454;

$danger-color-dark   : #d54a58;

$bgColor-dark      : #434141;
$textColor-dark    : #e8e5e5;
$textMuted-dark: #999999;

$input-background-dark: #636060;
$placeholder-color-dark: #706f6f;
$input-border-color-dark: #726e6e;
$checkbox-unchecked-color-dark: $white-dark;
$checkbox-checked-color-dark: #8a32c8;

// navbar
$main-navbar-color-dark: #000000;

$gray-color-1-dark:  #444444;
$gray-color-2-dark: #3a3a3a;

